{{#paper-card as |card|}}
  <div class="card {{if isRevealed team "default"}}">
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{word}}{{/text.headline}}
      {{/title.text}}
      {{#if isRevealed}}
        {{title.media size="sm" src=image}}
      {{/if}}
    {{/card.title}}

    {{#unless isRevealed}}
      {{#card.actions class="layout-column" }}
        {{#paper-button onClick=(action "revealCard")}}Reveal{{/paper-button}}
      {{/card.actions}}
    {{/unless}}
  </div>
{{/paper-card}}
