{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Ember Codenames</h2>
    <span class="flex"></span>

    {{!-- {{#if session.isAuthenticated}}
      Logged in as {{session.currentUser.displayName}}
      {{#paper-button onClick=(action "signOut") raised=true}}Sign out{{/paper-button}}
    {{else}}
      {{#paper-button onClick=(action "signIn" "google") raised=true}}Sign in with Google{{/paper-button}}
    {{/if}} --}}

  {{/toolbar.tools}}
{{/paper-toolbar}}
